@CHARSET "UTF-8";

/**
 * @Filename : style.css
 * @Author : shiyuan
 * @Finished ：2016年4月8日
 * @Modified By ：shiyuan
 * @Modified Date : 2016年4月8日
 * @Modified Reasons :
 */

* {
    margin: 0;
    padding: 0;
    font: 12px/1.5em 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
}


/*======================::background::=======================*/

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.background .present {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    background: #474747;
}

.background .downBox {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35%;
    text-align: center;
}

.background .downBox .countInfo {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    margin-top: 20px;
}

.background .downBox .countInfo span {
    color: #FFEBB2;
    font-size: 1.4em;
}


/*======================::score::=======================*/

.background .scoreBox {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 10%;
    z-index: 2;
}

.background .scoreBox aside {
    position: absolute;
    font: bold 2em/1em 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    margin: 5%;
}

.background .scoreBox .timer {
    left: 0px;
    color: #ff0000;
}

.background .scoreBox .miles {
    right: 0px;
    color: #7acc5a;
}

.background .scoreBox h1 {
    font: bold 3em/3em 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: #fff;
}


/*======================::dialog::=======================*/

.dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 0;
    opacity: .3;
}

.dialog .box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dialog .header {
    height: 10%;
}

.dialog .header .close {
    float: right;
    font: normal 2em/1em Arial, sans-serif;
    margin: 4%;
    color: #fff;
}

.dialog .content {
    margin: 5%;
    text-align: center;
    font: normal 2em/1em 'Microsoft Yahei', Arial, sans-serif;
    color: #fff;
}


/*======================::guide::=======================*/

.guide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000;
    opacity: .5;
    display: none;
}

.guide article {
    position: absolute;
    font: normal 2em/2em 'Microsoft Yahei', Arial, sans-serif;
    color: #fff;
    margin: auto;
    width: 50%;
    height: 30%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.self_center {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}


/*======================::gameAfter::=======================*/

.gameAfter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.gameAfter .mask {
    opacity: .6;
}

.gameAfter .container {
    position: absolute;
    width: 250px;
    height: 60%;
    text-align: center;
}

.gameAfter .container .resultBox {
    background: url(../images/success.png) no-repeat;
    width: 250px;
    height: 143px;
}

.gameAfter .container p {
    font: normal 1.2em/2em 'Microsoft Yahei', Arial, sans-serif;
    color: #fff;
    margin-top: 20px;
}

.gameAfter .container p span {
    font-size: 1.2em;
}

.gameAfter .container .downBox {
    position: relative;
    text-align: left;
    margin-top: 10px;
}

.btn {
    height: 40px;
    line-height: 38px;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    background: #E67422;
    display: inline-block;
    border-radius: 7px;
    margin: 10px 0 0 10px;
}

.btn_l {
    width: 230px;
    background: #FE8208;
}

.btn_m {
    width: 108px;
    background: #41BD43;
}